h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(95, 158, 160);
    display: flex;
    justify-content: center;

}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.item{
    font-size: 20px;
    font-style:italic;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}